*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --around:space-around;
    --between:space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border: 1px solid grey;
    background-color: green;
    border-radius: 10px;
}

section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 4vh;
    justify-content: space-between;
}

.around{
    justify-content: var(--around);
}

.between{
    justify-content: var(--between);
}

card{
    border: 1px solid black;
    border-radius: 10px;
    height: 30vh;
    width: 13vw;
    min-width: 100px;
}

.menu-links{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-size: larger;
}
